<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='javascripts/bower_components/jointjs/dist/joint.css' />
    <script src='javascripts/bower_components/jquery/jquery.js'></script>
    <script src='javascripts/bower_components/lodash/dist/lodash.js'></script>
    <script src='javascripts/bower_components/backbone/backbone.js'></script>
    <script src='javascripts/bower_components/jointjs/dist/joint.js'></script>
    <script src='javascripts/bower_components/jointjs/dist/joint.shapes.erd.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="myholder"></div>
    <script src='javascripts/main.js'></script>
  </body>
</html>
